.message {
  display: flex;
}

.message_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 45%;
}

.user {
  justify-content: flex-end;
}

.auto {
  justify-content: flex-start;
}

.content {
  padding: 15px;
  border-radius: 20px;
  background-color: var(--quote_chat_auto-chat-color);
  font-size: 14px;
  width: fit-content;

  color: var(--quote_chat_main-color);
}

.date {
  color: var(--quote_chat_secondary-text-color);
  font-size: 0.9rem;
}

.user .message_container {
  align-items: flex-end;
}

.user .content {
  background-color: var(--quote_chat_user-chat-color);
  color: var(--quote_chat_main-text-color);
}
