.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  position: relative;

  border-bottom: 1px solid var(--quote_chat_secondary-color);
}

.container:hover {
  background-color: var(--quote_chat_main-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3px;

  min-width: 100px;
  flex: 1;
}

.user_icon {
  width: 40px;
  height: 40px;
}

.name {
}

.name_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.update {
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 4px;

  background-image: url("../../img/pencil_icon.svg");
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 0;

  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.update:hover {
  border: 1px solid var(--quote_chat_secondary-color);
  border-radius: 3px;
}

.container:hover .update {
  opacity: 0.8;
}

.message {
  color: var(--quote_chat_secondary-text-color);
  font-size: 0.9rem;

  max-width: 400px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  margin-left: auto;
  color: var(--quote_chat_secondary-text-color);
  font-size: 0.9rem;
}

.delete {
  opacity: 0;
  display: block;
  position: absolute;
  width: 25px;
  right: 1%;
  bottom: 10%;
  border: none;
  background: none;
  transition: opacity 0.2s ease;
}

.delete:hover {
  border: 1px solid var(--quote_chat_secondary-color);
  border-radius: 3px;
}

.container:hover .delete {
  opacity: 0.6;
}
