.hero {
  min-height: calc(100vh - 69px - 180px);
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding: 40px;
}

.title_container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-size: 10rem;
  width: 50%;
  overflow-wrap: normal;
  white-space: normal;
  line-height: 9.5rem;
  font-weight: 800;
  font-family: var(--big-page-font);
}

.title {
  font-weight: 400;
  font-size: 3rem;
  font-family: var(--big-page-font);
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.name,
.title {
  opacity: 0;
  animation-name: fadeInRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.title {
  animation-delay: 1s;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@media (max-width: 767px) {
  .hero {
    min-height: calc(100vh - 69px);
  }
}

@media (max-width: 675px) {
  .name {
    font-size: 8rem;
    line-height: 8rem;
  }
}

@media (max-width: 570px) {
  .name {
    font-size: 7rem;
    line-height: 7rem;
  }
}
