.main {
  display: flex;
  flex-direction: column;
  min-width: 35%;
  gap: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  background-color: var(--quote_chat_main-color);
  border-bottom: 1px solid var(--quote_chat_secondary-color);
}

.user_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user_icon {
  width: 40px;
  height: 40px;
}

.log_button {
  padding: 5px;
  background-color: #fff;
  border: 1px solid var(--quote_chat_secondary-color);
  border-radius: 12px;
  color: var(--quote_chat_accent-color);
  font-weight: 800;
  cursor: pointer;
}

.log_button:hover {
  background-color: var(--quote_chat_main-color);
}

.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search {
  width: 100%;
  border-radius: 25px;
  height: 35px;
  border: 1px solid var(--quote_chat_secondary-color);
  outline: none;
  padding: 5px 40px 5px 30px;
}

.lens_icon {
  position: absolute;
  left: 10px;
  top: 45%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  pointer-events: none;
  opacity: 70%;
}

.plus_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;

  background-image: url("../../img/plus_icon_line.svg");
  background-size: cover;
  cursor: pointer;

  border: none;
  background-color: transparent;
  padding: 0;
}

.plus_icon:hover {
  background-image: url("../../img/plus_icon.svg");
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.title {
  color: var(--quote_chat_accent-color);
  font-weight: 500;
}

.auto_sender {
  padding: 5px 8px;
  background-color: transparent;
  border: 1px solid var(--quote_chat_secondary-color);
  border-radius: 12px;
  cursor: pointer;
  color: var(--quote_chat_main-text-color);
}

.auto_sender:hover {
  background-color: var(--quote_chat_main-color);
}

.auto_sender.active {
  background-color: rgb(196, 95, 95);
  color: #fff;
}
