.stack_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1152px) {
  .stack_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (max-width: 675px) {
  .stack_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  .stack_list {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
