.App {
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: 0 40px;
}

/* @media (min-width: 1024px) {
  .App {
    padding: 0 40px;
  }
}

@media (max-width: 1023px) {
  .App {
    padding: 0 24px;
  }
} */

@media (max-width: 1024px) {
  .App {
    padding: 0;
  }
}
