@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-page-font: "Roboto", sans-serif;
  --big-page-font: "Roboto Condensed", sans-serif;
  --max-page-width: 1440px;

  --main-page-text-color: #000;
  --secondary-page-text-color: rgb(87, 87, 87);

  --main-page-color: #fff;
  --secondary-page-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-page-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
