.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid var(--quote_chat_secondary-color);
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 15px;

  background-color: var(--quote_chat_main-color);
  border-bottom: 1px solid var(--quote_chat_secondary-color);
}

.user_icon {
  width: 40px;
  height: 40px;
}

.update {
  width: 25px;
  height: 25px;
  position: relative;
  left: -10px;
  bottom: 2px;

  background-image: url("../../img/pencil_icon.svg");
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 0;

  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.update:hover {
  border: 1px solid var(--quote_chat_secondary-color);
  border-radius: 3px;
}

.header:hover .update {
  opacity: 0.8;
}

.main {
  background-color: #faf8f9;
  flex-grow: 1;
  border-bottom: 1px solid var(--quote_chat_secondary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 100%;
  overflow: auto;

  list-style: none;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: var(--quote_chat_secondary-text-color);
}

.footer {
  padding: 20px;
  background-color: var(--quote_chat_main-color);
  position: relative;
}

.input {
  width: 100%;
  border-radius: 15px;
  min-height: 40px;
  max-height: 150px;
  border: 1px solid var(--quote_chat_secondary-color);
  outline: none;
  padding: 8px 40px 8px 20px;
  resize: none;
  line-height: 1.5;
  font-size: 1rem;

  scrollbar-width: none;
}

.send_icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;

  background-image: url("../../img/paper_plane.svg");
  background-size: cover;
  cursor: pointer;

  border: none;
  background-color: transparent;
  padding: 0;
}

.send_icon:hover {
  background-image: url("../../img/paper_plane_line.svg");
}
